.body {
  overflow-y: overlay;
  color: white;
  flex: 0.9;
  padding: 30px;
  height: 85vh;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(15,15,15,1) 11%, rgba(19,19,19,1) 30%, rgba(57,57,57,1) 60%, rgba(70,70,70,1) 100%);
}

a { 
  margin-top: 10px;
  padding-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p { 
  padding-top: 20px;
  color: white;
  font-size: 14px;
}

.body::-webkit-scrollbar {
  display: none;
}

.body_info{
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.body_infoText:span {
  margin-left: 0;
}

.body_infoText {
  flex: 1;
  margin-top: 10%;
}

.body_infoText > h2 {
  font-size: 65px;
  margin-bottom: 10px;
}

.body_infoText > p {
  font-size: 16px;
  overflow: hidden;
}

.body_info > img {
  height: 20vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body_infoText > strong {
  font-size: 14px;
  letter-spacing: 2px;
}

.body_icons {
  display: flex;
  align-items: center;
}

.body_icons > .MuiSvgIcon-root {
  margin-right: 20px;
}

.body_shuffle {
  font-size: 80px !important;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #1ed15e;
}

.body_shuffle:hover {
  transition: 0.1s transform ease-in;
  transform: scale(1.08);
}

.body_songs {
  margin: 20px -30px 10px -30px;
}

.body_songs > ol {
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid red;
}

.body_songs > hr {
  margin: 10px 30px;
  border: 1px solid rgba(56,56,61, 0.75);
}

.body_songsHeader {
  display: flex;
  list-style: none;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 5px 0;
  width: 95.75%;
  background-color: transparent;
  border-bottom: 1px solid rgba(71,81,97, 0.5);
}

.body_songsNumber > p {
  font-size: 14px;
  text-align: center;
  width: fit-content;
  margin-left: 30px;
  margin-top: 15px;
}

.body_songsTitle > p {
  font-size: 14px;
  letter-spacing: 2px;
  width: fit-content;
  margin-left: 30px;
  margin-right: 690px;
  margin-top: 15px;
}

.body_songsAlbum > p {
  font-size: 14px;
  letter-spacing: 2px;
  width: fit-content;
  float: left;
  margin-left: 45%;
  margin-right: 15%;
  margin-top: 15px;
}

.body_songsRelease > p {
  margin-left: 340px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.body_songsDurationIcon {
margin-left: 14.75%;
margin-top: 30px;
height: fit-content; 
width: fit-content;
}

.body_duration {
  font-size: 20px !important;
  padding: 0;
  margin: 0;
}

.icon_green {
  color: #1ed15e;
}

#discover_profileImage {
  pointer-events: none;
}