.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}

.logo{
    width: 100vh;
    margin-top: 120px;
}

.login > a{
    padding: 20px;
    background-color: #1db954;
    border-radius: 70px;
    font-weight: 800;
    color: white;
    text-decoration: none;
}

.dev_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.dev_info > p{
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.gitHubProfLogo {
    height: 20px;
    width: 20px;
}